.badge {
  padding: 2px 8px;
  border-radius: 16px;
  margin-right: 8px;
}

.badge > strong {
  color: #fff;
  font-size: 12px;
  position: relative;
  top: 1px;
}

.badgeNew {
  background-color: var(--desaturated-dark-cyan);
}

.badgeFeatured {
  background-color: var(--very-dark-grayish-cyan);
}