.job {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 24px;
  border-left: 4px solid var(--desaturated-dark-cyan);
  
  /* REMOVE THIS LINE: */
  margin-top: 64px;
}

.jobInfos {
  position: relative;
}

.jobInfos > img {
  width: 52px;
  position: absolute;
  top: -50px;
}